# See http://sujee.net/tech/articles/gitignore/
.bundle
db/
*.sqlite3
log/*
*.log
tmp/*
*.sass-cache/*
*.swp
*~
*.out
*.project
*.DS_Store
*~
.#*
*#
#*.lock
config/database.yml
config/application/secret_token.txt
config/application/mailer_config.rb
public/photos/*
spec/tmp
spec/tmp/*
