# See http://sujee.net/tech/articles/gitignore/
.bundle
*.sqlite3
log/*
*.log
tmp/*
*.sass-cache/*
*.swp
*~
*.out
*.project
*.DS_Store
*~
.#*
*#
#*.lock
config/database.yml
config/application/secret_token.txt
config/application/secret_base.txt
config/application/err_api_key.txt
config/application/mailer_config.rb
public/photos/*
spec/tmp
spec/tmp/*
public/assets/*
public/.htaccess

# Let each system set its own ruby version
.ruby-version

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
## Environment normalisation:
/.bundle
/vendor/bundle
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
*.rbc
capybara-*.html
/config/env_vals.rb
