<!-- http://stackoverflow.com/questions/6393464/form-for-nested-resource -->
<!-- quick hack to prevent non-authenticated users from adding comments, probably should do this in another area,like a controller-->
  <% if user_signed_in? %> 
<button class="btn main toggler" data-role="toggle" >Add Note</button>
<div id="newCommentWrap" class="span3">

  <%= form_for(comment, :url=> url) do |f| %>

  <!-- adding a max length for now to prevent overflow -->
  <%= f.text_area :body,  :cols=>80, :rows=>10 , :required => true, :maxlength => 200 %>
  <%= button_tag "Submit note", :class=> "btn btn-primary" %>
  <% end %>
  
</div>
<% end %>
