<table class="span12 table table-bordered project">
<thead>
<tr>
<th>Bike</th>
<th>Date Started</th>
<th>Status</th>
</tr>
</thead>
<tbody>

<% 
   @bikes.each do |bike|
   status = (bike.departed_at.nil?) ? "Open" : "Closed"
   status_icon = "icon-folder-#{(bike.departed_at.nil?) ? 'open': 'close'}"
 %>
<tr>
  <td><%= link_to bike.number, bike_path(bike) %></td>
  <td><%= bike.created_at.strftime('%d %B %y') %></td>
  <td><i class="<%= status_icon %>"></i><%= " #{status} " %></td>
</tr>
<% end %>

</tbody>
</table>
