<h1>Programs#index</h1>

<%= render :partial=>"program_table", :layout =>"program_table_layout" %>

<p><%= link_to "Start a new program", new_program_path %></p>

<p>Find me in app/views/programs/index.html.erb</p>


