<section class="row span8 programs">

<% programs.each do |program| %>
  <h2><%= link_to program.name, program_path(program)%> Program</h2>
    <p>Active Bikes: <%= program.active_bikes %></p>
    <p>Departed Bikes: <%= program.departed_bikes %></p>
<% end %>

<!-- this should be a button and probably should go in the menu action area -->
<hr />
<%= link_to "Start a new program", new_program_path, :class => "btn btn-primary", :id=> "newProgram" %>

</section>
