<section class="row span8 programs">


<%= render :partial=>"program_table", :layout =>"program_table_layout" %>

<!-- this should be a button and probably should go in the menu action area -->
<%= link_to "Start a new program", new_program_path, :class => "btn btn-primary", :id=> "newProgram" %>



<p>Find me in app/views/programs/index.html.erb</p>

</section>
