<section class="row span8">
<h1>Program information</h1>

<dl>
  <dt>Program Title</dt><dd><%= program.title %></dd>
  <dt>Projects Category</dt><dd><%= program.project_category.name %></dd>
</dl>

<h2>Projects under this program</h2>

<%= render :partial=>"projects/project_table", :layout =>"projects/project_table_layout" %>

</section>
