<section class="row span8">

<h2>Program information</h2>
<dl>
  <dt>Title</dt><dd><%= program.label %> </dd>
  <dt>Name</dt><dd><%= program.name %></dd>
</dl>

<hr />

<h2>Bikes in <%= program.name %></h2>

<%= render :partial=>"project_listing" %>

</section>

