<section class="offset1 span8" >

  <h2>Bike Numbering System</h2>
  <h3>ID assigned to each bike for tracking and inventory</h3>

  <p>The ID assigned to each bike is a 5 digit number.</p>
  <p>When you search for a bike or report a bike, you must use all 5 digits, even if the first digit is a 0 (zero).</p>

  <h3>Where can I find the number for a bike?</h3>
  <p>You can find the number on the sticker that is applied on the top-tube of the bike, near the head-tube. See the photo below as an example.</p>
  <%= image_tag('bike_number_sticker_applied_medium.jpg')  %>

</section>
