<section class="offset1 span8" >
<h2>Incoming bike instructions</h2>

<h3>What to do when a new bike comes into the shop</h3>
<%= image_tag('numbers_sheet_example.png', :class=>"pull-right", :width=>"175") %>
<p>New bikes and bikes that are not in the inventory should be entered. Also, frames should be entered.</p>
<ul class="clearfix">
  <li>Get then next available sticker to assign to the bike</li>
  <li>Clean the tube before applying the sticker</li>
  <li>The sticker you get is the ID number for the bike.</li>
  <li>Place the sticker on the top-tube near the head-tube</li>
  <li>Complete the <%= link_to 'new bike', new_bike_path %> online form.</li>
  <li>Fill out the paper Bike Info page</li>
  <li> When you put the bike somewhere, note it in the location log on its information sheet</li>
</ul>

<%= image_tag('bike_number_sticker_applied_medium.jpg', :class=>"pull-right")  %>
<h3>What happens if I mess up, drop, or lose the sticker before it gets on the bike?</h3>

<p>Get a new sticker and make sure you use the number from the new sticker for the bike information.</p>

<h3>What do I do when the computer and the paper do not match?</h3>
<p>The computer is where we log everything and the paper is for reference only.</p>
</section>
