<section class="offset1 span8" >
<h2>Hook numbering system</h2>
<p>Hooks on the walls are all assigned a hook number and <strong>&quot;H&quot;</strong> or <strong>&quot;L&quot;</strong> corresponding to the &quot;high&quot; or &quot;low&quot; spot on the wall.</p>
<p>All hook numbers are 3 characters in length. The fist two characters are the number and the last character is the row.</p>
<dl>
  <dt>Top row of hooks</dt><dd>These hooks get an <strong>&quot;H&quot;</strong> at the end their number</dd>
  <dt>Bottom row of hooks</dt><dd>These hooks get an <strong>&quot;L&quot;</strong> at the end of their number</dd>
</dl>

<h2>Claiming a parking hook</h2>
<ul>
  <li>Edit the online bike information for that bike</li>
  <li>Update the bicycle location log on the info sheet for that bike. Write the assigned number and the date.</li>
</ul>

<h2>Location log</h2>

<h3>Purpose of the location log</h3>
<p>The location log is a section on the bike info sheet. The log is used help us find bikes quickly. When bikes have an ID sticker, we can use this log to write down where the bike is located.</p>
<p>Each bike has a bike info page containing the location log for that specific bike.</p>
<p>When a bike is pulled down from a hook, the log is an easy way to know which hook it goes back to.</p>

<h3>Examples of what to write for &quot;Location&quot;</h3>
<p>&quot;Hook 20H&quot;, &quot;Floor&quot;, &quot;Rafter hook&quot;, &quot;off site&quot;</p>

<h3>When to write in the log?</h3>
<ul>
  <li>When a bike is first assigned a hook</li>
  <li>When you change what hook a bike is assigned to</li>
  <li>Whenever you leave a bike somewhere. People need to find it right? Note it in the log!</li>
</ul>      

<h3>What if a bike does not have an ID number?</h3>
<p>Give the bike an ID number by <%= link_to 'entering it into the inventory system', page_link_args('incoming_bike_instructions') %>. Bikes missing from the inventory get no love</p>
</section>
