<section class="offset1 span8" >
  <h2>The color tags system</h2>

  <p>The color tags are used to indicate the status and availability of bikes in the shop</p>
  <p>An example of a colored tag is circled in the photo below:</p>
  <%= image_tag'color_tagged_bike.jpg' %>

  <h3>What do the different colored tags mean?</h3>
  <table>
    <thead>
      <th>When a bike has these tags: </th>
      <th>The bike is:</th>
    </thead>
    <tr>
      <td>Blue Tag</td>
      <td>Available to purchase as a Fix-for-Sale</td>
    </tr>
    <tr>
      <td>Red Tag</td>
      <td>Unavailable. It is in the Earn-A-Bike or other program.</td>
    </tr>
    <tr>
      <td>Red Tag and Blue Tag</td>
      <td>Unavailable. It is in the process of being fixed for sale.</td>
    </tr>
    <tr>
      <td>No Colored Tag</td>
      <td>Available for purchase or for the Earn-A-Bike program</td>
    </tr>
  </table>

</section>
