<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
<%= javascript_include_tag "jquery" %>
<%= stylesheet_link_tag "mobile" %>

<div id = "welcomeContainer">
    <div id = "header">
        <h1><%= image_tag("freeridelogothin.png") %></h1>
    </div>
    <div id = "welcomeContent"><br/><br/>
        <a href = "/mobile/find">
        <div class = "navButton" id = "findButton">
            Find a Bike
        </div>
        </a> 
        <a href = "/mobile/add">
        <div class = "navButton" id = "addButton">
           Add a Bike
        </div>
        </a>     
        <a href = "/mobile">
        <div class = "navButton" id = "browseButton">
        Browse Bikes       
         </div>
        </a>
    </div>
</div>
