<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>


<div data-role = "page">
    <div data-role = "header">
        <h1>BikeBinder</h1>
    </div>
    <div data-role = "content">
        <ul data-role = "listview">
        <% @bikes.each do |bike| %>
            <li>
                <div class="ui-grid-b">
                <div class="ui-block-a"><%= bike.number %></div>
                <div class="ui-block-b"><%= bike.color %></div>
                <div class="ui-block-c"><% if bike.program_id %>
                <%= Program.find_by_id(bike.program_id).name %>
                <% else %>
                <%= "Available" %>
                <% end
                %></div>
                </div><!-- /grid-b -->
            </li>
        <% end %>
        </ul>
    </div>
</div>
