  <table class="table">  
    <thead>
      <td>User</td>
      <td>Date started</td>
      <td>Status</td>
    </thead>
    <% project.detail.inspections.each do |inspection| %>
      <% user = User.find(inspection.user_id) if inspection.user_id %>
      <tr>
	<td><%= (user.nil?) ? "Anonymous" : user.email %></td>
	<td><%= inspection.started_at %></td>
	<td>
	  <%= print_inspection_status(project, inspection, current_user) %>
	</td>
      </tr>
    <% end %>
  </table>
