<div title = "Bike Details" id = "detailDialog">
       	<table class = "table table-condensed" id = "detailTable">
			<tr class="key">
				<th>Manufacturer:</th>
				<th class="value" id = "bikeDetailBrand"></th>
			</tr>
			<tr class="key">
				<th>Model:</th>
				<th class="value" id = "bikeDetailModel"></th>
			</tr>
			<tr class="key">
				<th>Color:</th>
				<th class="value" id ="bikeDetailColor">
					<span data-bike-color=""></span></th>
				</tr>
				<tr class="key">
					<th>Wheel Size:</th>
					<th class="value" id = "bikeDetailWheelSize"></th>
				</tr>
				<tr class="key">
					<th>Seat tube height:</th>
					<th class="value" id = "bikeDetailSeatTube"></th>
				</tr>
				<tr class="key">
					<th>Top tube length:</th>
					<th class="value" id = "bikeDetailTopTube"></th>
				</tr>
				<tr class="key">
					<th>Quality:</th>
					<th class="value" id = "bikeDetailQuality"></th>
				</tr>
				<tr class="key">
					<th>Condition:</th>
					<th class="value" id = "bikeDetailCondition"></th>
				</tr>
				<tr class="key">
					<th>Date In:</th>
					<th class="value" id = "bikeDetailDate"></th>
				</tr>
				<tr class="key">
					<th>Value:</th>
					<th class="value" id = "bikeDetailValue"></th>
				</tr>
				<tr class="key">
					<th>Status: </th>
					<th class="value" id = "bikeDetailStatus"></th>
				</tr>
                <tr>
                    <th><a id = "detailLink" class = "btn btn-info">View Full Details</a></th>
                </tr>
		</table>
</div>
<!--
<div class="bike details" style = "display:none;" id = "bikeDetailPanel" data-spy="affix" data-offset-top="200">
		<table class="staticAttributes">
			<tr class="key">
				<th>Manufacturer:</th>
				<th class="value" id = "bikeDetailBrand"></th>
			</tr>
			<tr class="key">
				<th>Model:</th>
				<th class="value" id = "bikeDetailModel"></th>
			</tr>
			<tr class="key">
				<th>Color:</th>
				<th class="value" id ="bikeDetailColor">
					<span data-bike-color=""></span></th>
				</tr>
				<tr class="key">
					<th>Wheel Size:</th>
					<th class="value" id = "bikeDetailWheelSize"></th>
				</tr>
				<tr class="key">
					<th>Seat tube height:</th>
					<th class="value" id = "bikeDetailSeatTube"></th>
				</tr>
				<tr class="key">
					<th>Top tube length:</th>
					<th class="value" id = "bikeDetailTopTube"></th>
				</tr>
				<tr class="key">
					<th>Quality:</th>
					<th class="value" id = "bikeDetailQuality"></th>
				</tr>
				<tr class="key">
					<th>Condition:</th>
					<th class="value" id = "bikeDetailCondition"></th>
				</tr>
				<tr class="key">
					<th>Date In:</th>
					<th class="value" id = "bikeDetailDate"></th>
				</tr>
				<tr class="key">
					<th>Value:</th>
					<th class="value" id = "bikeDetailValue"></th>
				</tr>
				<tr class="key ">
					<th>Status: </th>
					<th class="value" id = "bikeDetailStatus"></th>
				</tr>
		</table>
</div>
-->
