<div id="bikelisting">
  <div class="span11">
    <div class="container-fluid">
      <table class="bikes table table-bordered" id="results">
	<thead>
	  <tr>
	    <th>
	      Number
            </th>
	    <th>
              Status
            </th>
            <th>
	      Hook
            </th>
            <th>
	      Color
            </th>
            <th>
	      Brand
            </th>
            <th>
	      Seat Tube
            </th>
            <th>
	      Wheel Size
            </th>
	    <% if can? :manage, true %>
 	    <th>
		    Value
	    </th>
	    <% end %>
	  </tr>
	</thead>
	<tbody id = "bikeList">
	  <%= yield %>
	</tbody>
      </table>
    </div>
  </div>
</div>
