<div class="bike details" id = "bikeDetailPanel">
   <dl class="staticAttributes">
    <dd class="key">Manufacturer:</dd><dd class="value" id = "bikeDetailBrand"></dd>
    <dd class="key" >Model:</dd><dd class="value" id = "bikeDetailModel"></dd>
    <dd class="key">Color: </dd>
    <dd class="value" id ="bikeDetailColor"></dd>
    <span data-bike-color=""></span>
    <dd class="key">Wheel Size:</dd><dd class="value" id = "bikeDetailWheelSize"></dd>
    <dd class="key">Seat tube height:</dd><dd class="value" id = "bikeDetailSeatTube"></dd>
    <dd class="key">Top tube length:</dd><dd class="value" id = "bikeDetailTopTube"></dd>
    <dd class="key">Quality:</dd><dd class="value" id = "bikeDetailQuality"></dd>
    <dd class="key">Condition:</dd><dd class="value" id = "bikeDetailCondition"></dd>
    <dd class="key">Date In:</dd><dd class="value" id = "bikeDetailDate"></dd>
    <dd class="key">Value:</dd><dd class="value" id = "bikeDetailValue"></dd>

      </dl>
      <dl class="dynamicAttributes">
    <dd class="key ">Status: </dd> 
    <dd class="value" id = "bikeDetailStatus">
    </dd>
   </dl>
</div>
