<table class="bikes span8">
  <thead>
    <tr>
      <th>Number</th>
      <th>Color</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Hook</th>
      <th>Status</th>
    </tr>
  </thead>

  <%= yield %>

</table>
