<div class="results">
	<table class="bikes table table-bordered span10">
		<thead>
			<tr>
				<th>Number</th>
				<th>Status</th>
				<th>Hook</th>
				<th>Color</th>
				<th>Brand</th>
				<th>Seat Tube</th>
				<th>Top Tube</th>
				<th>Wheel Size</th>
				<th>Date Entered</th>
			</tr>
		</thead>
		<tbody id = "bikeList">
			<%= yield %>
		</tbody>
	</table>
</div>
