<section class="" id = "indexSection">
<% # render :partial=>"bike_filter" %>
<ul class="nav nav-tabs">
  <% I18n.translate('nav.bikes').each do |key, text| %>
    <li class="<%= filter_link_class(key) %>">
      <%= link_to text, "#{key}_bikes".to_sym %>
    </li>
  <% end %>
</ul>
<%= render :partial=>"bike_table", :layout =>"bike_table_layout" %>
</section>
