<%# javascript_include_tag "jquery-ui" %>
<script type = "text/javascript">
    $(document).ready(function(){
        var sorter;
        var reverseSort = false;
        var prevSort = $(".active.sortup")[0];
        var currentMin = 0;
        // Attach filters
        function attachListeners(){
            $("#searchButton").click(function(){
                populateBikeList();
            });
            $(".checkColor").each(function(){
                $(this).click(function(){
                    populateBikeList();
                });
            });
            $(".checkStatus").each(function(){
                $(this).click(function(){
                    populateBikeList();
                });
            });
            $(".allFilter").each(function(){
                $(this).click(function(){
                    var thisFilter = $(this).attr("id");
                    var thisFilterType = thisFilter.substring(3);
                    $(".check"+thisFilterType).each(function(){
                        $(this).attr("checked","checked");
                    });
                    populateBikeList();
                });
            });
            $(".noFilter").each(function(){
                $(this).click(function(){
                    var thisFilter = $(this).attr("id");
                    var thisFilterType = thisFilter.substring(2);
                    $(".check"+thisFilterType).each(function(){
                        $(this).attr("checked",false);
                    });
                });
            });
            $(".sortup").each(function(){
                $(this).click(function(){
                    reverseSort = false;
                    if(prevSort){
                        $(prevSort).removeClass("active");
                    }
                    prevSort = $(this);
                    $(this).addClass("active");
                    sorter = $(this).parent().siblings(".sorter");
                    populateBikeList();
                });
            });
            $(".sortdown").each(function(){
                $(this).click(function(){
                    reverseSort = true;
                    if(prevSort){
                        $(prevSort).removeClass("active");
                    }
                    prevSort = $(this);
                    $(this).addClass("active");
                    sorter = $(this).parent().siblings(".sorter");
                    populateBikeList();
                });
            });
            // Collapse/Expand Listeners
            $("#collapseColors").live("click",function(){
                $("#colorContainer").slideUp();
                $(this).attr("src","/assets/expand-blue.png");
                $(this).attr("id","expandColors");
            });
            $("#expandColors").live("click",function(){
                $("#colorContainer").slideDown();
                $(this).attr("src","/assets/collapse-blue.png");
                $(this).attr("id","collapseColors");
            });
            $("#collapseStatus").live("click",function(){
                $("#statusContainer").slideUp();
                $(this).attr("src","/assets/expand-blue.png");
                $(this).attr("id","expandStatus");
            });
            $("#expandStatus").live("click",function(){
                $("#statusContainer").slideDown();
                $(this).attr("src","/assets/collapse-blue.png");
                $(this).attr("id","collapseStatus");
            });
            $("#detailDialog").dialog({ 
                autoOpen : false,
                zIndex : 9999, 
                //width: 250,
                draggable : false,
                resizable : false,
                dialogClass : "redmond",
                className : "redmond"
            });
            $("#searchInput").keydown(function(e){
                var term = $("#searchInput").val();
                if(term.length >= 3){
                    populateBikeList();
                }
            });
            /*$("#bikeSearch").submit(function(e){
                e.preventDefault();
                populateBikeList();
            });*/
            attachRowListeners();
        }

        function attachRowListeners(){
            $(".quickView").each(function(){
                $(this).click(function(e){
                    e.stopPropagation();
                    //e.preventDefault();
                    getBikeDetails($(this));
                    $("#detailDialog").dialog("option","position",[e.clientX+40,e.clientY])
                    .dialog("open");
                    //getBikeDetails($(this));
                });
            });
            $(".bikeRow").each(function(){
                $(this).click(function(e){
                    window.location = $('a:first', this).attr('href');
                });
            });
        }

        function getBikeDetails(bike){
            bike = bike.siblings("a")[0];
            var bikeNumber = bike.innerHTML;
            $.ajax({
                type: "GET",
                url: "/bikes/get_details/" + bikeNumber,
                dataType : "json",
                success: function (response){
                    renderBikeDetails(response);
                }
            });
        }

        function convert_wheel_size(ws){
            if(ws !== null){
                if(ws <= 1){
                    return "Unknown";
                }else{
                    return ws + " mm";
                }
            }else{
                return "n/a";
            }
        }

        function renderBikeDetails(bike){
            $("#bikeDetailBrand").html(bike.brand_name || "n/a");
            $("#bikeDetailModel").html(bike.model_name || "n/a");
            $("#bikeDetailColor").html(bike.color);
            $("#bikeDetailWheelSize").html(convert_wheel_size(bike.wheel_size));
            $("#bikeDetailSeatTube").html(bike.seat_tube_height ? bike.seat_tube_height + " in." : "n/a");
            $("#bikeDetailTopTube").html(bike.top_tube_length ? bike.top_tube_length + " in." : "n/a");
            $("#bikeDetailQuality").html(bike.quality);
            $("#bikeDetailCondition").html(bike.condition);
            $("#bikeDetailValue").html(bike.value || "n/a");
            $("#bikeDetailStatus").html(bike.name || "Available");
            var formattedDate = dp(bike.created_at);    
            $("#bikeDetailDate").html((formattedDate.getMonth()+1) + "/" + formattedDate.getDate() + "/" + formattedDate.getFullYear());

        }

        // Function to get bikes
        function populateBikeList(min,max,viewAll){
            min = min || 0;
            max = max || 10;
            viewAll = viewAll || false;
            var colorArr = $("input:checkbox:checked.checkColor").map(function(){
                return this.value;
            }).get();
            var statusArr = $("input:checkbox:checked.checkStatus").map(function(){
                return this.value;
            }).get();
            var searchDesc = $("#searchInput").val();
            var sortBy = (sorter ? sorter.attr("fieldname") : "number");
            if(reverseSort){
                sortBy = sortBy + " DESC";
            }
            $.ajax({
                type: "GET",
                url: "/bikes/filter_bikes/filter",
                data: {
                    "colors" : colorArr,
                    "statuses" : statusArr,
                    "sortBy" : sortBy,
                    "searchDesc" : searchDesc,
                    "min" : min,
                    "max" : max,
                    "all" : viewAll
                },
                dataType : "json",
                success: function (response){
                    currentMin = parseInt(min)/10;
                    renderHtml(response,viewAll);
                    attachRowListeners();
                }
            });
        }

        function setupPagination(count){
            $("#pagination").html("");
            //Setup first three pages
            if(currentMin-3 > 0){
                var firstPage = document.createElement("span");
                firstPage.innerHTML = "first";
                $(firstPage).click(function(){
                    populateBikeList(0,10);
                });
                $("#pagination").append(firstPage);
                for(var i = currentMin-3; i < currentMin; i++){
                    var newPage = document.createElement("span");
                    $(newPage).click({pageNum : i},clickToPage);
                    newPage.innerHTML = i+1;
                    $("#pagination").append(newPage);
                }
            }else{
                for(var i = currentMin - 3; i < currentMin; i++){
                    if(i >= 0){
                        var newPage = document.createElement("span");
                        $(newPage).click({pageNum : i},clickToPage);
                        newPage.innerHTML = i+1;
                        $("#pagination").append(newPage);
                    }
                }
            }
            //Setup current page
            var currentPage = document.createElement("span");
            currentPage.innerHTML = currentMin+1;
            currentPage.className = "currentPage";
            $("#pagination").append(currentPage);

            //Setup last three pages
            if(currentMin + 4 < Math.floor(count/10)){
                for(var i = currentMin+1; i < currentMin+4; i++){
                    var newPage = document.createElement("span");
                    $(newPage).click({pageNum : i},clickToPage);
                    newPage.innerHTML = i+1;
                    $("#pagination").append(newPage);
                }
                var lastPage = document.createElement("span");
                lastPage.innerHTML = "last";
                $(lastPage).click(function(){
                    if((count%10 === 0)){
                        populateBikeList((Math.floor(count/10)-1)*10,Math.floor(count/10)*10+10);
                    }else{
                        populateBikeList(Math.floor(count/10)*10,Math.floor(count/10)*10+10);
                    }
                });
                $("#pagination").append(lastPage);
            }else{
                for(var i = currentMin+1; i < currentMin+4; i++){
                    if(i < count/10){
                        var newPage = document.createElement("span");
                        $(newPage).click({pageNum : i},clickToPage);
                        newPage.innerHTML = i+1;
                        $("#pagination").append(newPage);
                    }
                }

            }
            // Setup View All Page
            var viewAll = document.createElement("span");
            viewAll.innerHTML = "View All";
            $(viewAll).click(function(){
                populateBikeList(0,Math.floor(count/10)*10,true);
                $("#pagination").html("");
            });
            $("#pagination").append(viewAll);
        }

        function clickToPage(event){
            var pageNum = parseInt(event.data.pageNum)*10;
            populateBikeList(pageNum,pageNum+10);
        }

        function renderHtml(response,viewAll){
            if(response.count == 0){
                $("#bikeList").html("No bikes found!");
            }else{
                $("#bikeList").html("");
                if(!viewAll){
                    setupPagination(response.count);
                }
                for(var i = 0; i < response.bikes.length; i++){
                    var bikeObj = response.bikes[i];
                    var newRow = document.createElement("tr");
                    newRow.className = "bikeRow"
                    // Bike Number
                    var bikeNumber = document.createElement("td");
                    var bikeNumberLink = document.createElement("a");
                    bikeNumberLink.href = "/bikes/sn-"+bikeObj.number;
                    bikeNumberLink.innerHTML = bikeObj.number;
                    bikeNumber.appendChild(bikeNumberLink);
                    var quickView = document.createElement("div");
                    quickView.innerHTML = "quick view";
                    quickView.className = "quickView";
                    bikeNumber.appendChild(quickView);

                    // Bike Status
                    var bikeAvailable = document.createElement("td");
                    // Status icon
                    var statusIcon = document.createElement("i");
                    statusIcon.className = "statusIcon ";
                    if(bikeObj.name && !bikeObj.departed_at){
                        statusIcon.className += "icon-folder-open";
                        var bikeStatusLink = document.createElement("a");
                        bikeStatusLink.href = "/programs/" + bikeObj.program_id;
                        bikeStatusLink.innerHTML = bikeObj.name;
                        bikeAvailable.appendChild(statusIcon);
                        bikeAvailable.appendChild(bikeStatusLink);
                    }else{
                        statusIcon.className += (bikeObj.departed_at ? "icon-folder-close" : "icon-ok");
                        bikeAvailable.appendChild(statusIcon);
                        bikeAvailable.innerHTML += (bikeObj.departed_at ? "Departed as " + bikeObj.name : bikeObj.name || "Available");
                    }

                    // Bike Hook
                    var bikeHook = document.createElement("td");
                    if (bikeObj.hook_number){
                        var bikeHookLink = document.createElement("a");
                        bikeHookLink.href = "/hooks/location-"+bikeObj.hook_number;
                        bikeHookLink.innerHTML = bikeObj.hook_number;
                        bikeHook.appendChild(bikeHookLink);
                    }else{
                        bikeHook.innerHTML = "n/a";
                    }

                    // Color
                    var bikeColor = document.createElement("td");
                    bikeColor.innerHTML = bikeObj.color;
                    
                    // Brand
                    var bikeBrand = document.createElement("td");
                    bikeBrand.innerHTML = bikeObj.brand_name || "n/a";
                    
                    // Seat Tube
                    var bikeSeat = document.createElement("td");
                    bikeSeat.innerHTML = (bikeObj.seat_tube_height ? bikeObj.seat_tube_height + " inches" : "n/a");
                    
                    // Wheel Size
                    var bikeWheel = document.createElement("td");
                    bikeWheel.innerHTML = convert_wheel_size(bikeObj.wheel_size);
                    
                    $(newRow).append(bikeNumber)
                    .append(bikeAvailable)
                    .append(bikeHook)
                    .append(bikeColor)
                    .append(bikeBrand)
                    .append(bikeSeat)
                    .append(bikeWheel);
                    $("#bikeList").append(newRow);
                }
            }
        }

        function dp(dateStr) {
            return new Date(dateStr)
        }


        attachListeners();
        populateBikeList();
    });
</script>
<section class="">
<%= render :partial=>"bike_filter" %>
<%= render :partial=>"bike_table", :layout =>"bike_table_layout" %>
<%= render :partial=>"bike_listing_details" %>
</section>
