<script type = "text/javascript">
    $(document).ready(function(){
        var sorter = $(".active.sorter")[0];
        // Attach filters
        function attachListeners(){
            $(".checkBrand").each(function(){
                $(this).click(function(){
                    populateBikeList();
                });
            });
            $(".checkColor").each(function(){
                $(this).click(function(){
                    populateBikeList();
                });
            });
            $(".checkStatus").each(function(){
                $(this).click(function(){
                    populateBikeList();
                });
            });
            attachRowListeners();
            $(".sorter").each(function(){
                $(this).click(function(){
                    if(sorter !== undefined && sorter !== null){
                        $(sorter).removeClass("active");
                    }
                    sorter = $(this);
                    sorter.addClass("active");
                    populateBikeList();
                });
            });
        }

        function attachRowListeners(){
            $(".bikeRow").each(function(){
                $(this).click(function(){
                    getBikeDetails($(this));
                });
            });
        }

        function getBikeDetails(bike){
            bike = bike[0];
            var bikeNumber = bike.children[0].children[0].innerHTML;
            $.ajax({
                type: "GET",
                url: "/bikes/get_details/" + bikeNumber,
                dataType : "json",
                success: function (response){
                    renderBikeDetails(response);
                }
            });
        }

        function renderBikeDetails(bike){
            $("#bikeDetailBrand").html(bike.brand_name || "n/a");
            $("#bikeDetailModel").html(bike.model_name || "n/a");
            //$("#bikeDetailColor").attr("data-bike-color",bike.color);
            $("#bikeDetailColor").html(bike.color);
            $("#bikeDetailWheelSize").html(bike.wheel_size || "n/a");
            $("#bikeDetailSeatTube").html(bike.seat_tube_height || "n/a");
            $("#bikeDetailTopTube").html(bike.top_tube_length || "n/a");
            $("#bikeDetailQuality").html(bike.quality);
            $("#bikeDetailCondition").html(bike.condition);
            $("#bikeDetailValue").html(bike.value || "n/a");
            $("#bikeDetailStatus").html(bike.name || "Available");
            var formattedDate = dp(bike.created_at);    
            $("#bikeDetailDate").html((formattedDate.getMonth()+1) + "/" + formattedDate.getDate() + "/" + formattedDate.getFullYear());

        }

        // Function to get bikes
        function populateBikeList(){
            var brandArr = $("input:checkbox:checked.checkBrand").map(function(){
                return this.value;
            }).get();
            var colorArr = $("input:checkbox:checked.checkColor").map(function(){
                return this.value;
            }).get();
            var statusArr = $("input:checkbox:checked.checkStatus").map(function(){
                return this.value;
            }).get();
            var sortBy = (sorter ? $(sorter).attr("fieldname") : "number");
            $.ajax({
                type: "GET",
                url: "/bikes/filter_bikes/filter",
                data: {
                    "brands" : brandArr,
                    "colors" : colorArr,
                    "statuses" : statusArr,
                    "sortBy" : sortBy
                },
                dataType : "json",
                success: function (response){
                    console.log(response);
                    renderHtml(response);
                    attachRowListeners();
                }
            });
        }

        function renderHtml(response){
            $("#bikeList").html("");
            for(var i = 0; i < response.length; i++){
                var bikeObj = response[i];
                var newRow = document.createElement("tr");
                newRow.className = "bikeRow"
                // Bike Number
                var bikeNumber = document.createElement("td");
                var bikeNumberLink = document.createElement("a");
                bikeNumberLink.href = "/bikes/sn-"+bikeObj.number;
                bikeNumberLink.innerHTML = bikeObj.number;
                bikeNumber.appendChild(bikeNumberLink);

                // Bike Status
                var bikeAvailable = document.createElement("td");
                if(bikeObj.name && !bikeObj.departed_at){
                    var bikeStatusLink = document.createElement("a");
                    bikeStatusLink.href = "/programs/" + bikeObj.program_id;
                    bikeStatusLink.innerHTML = bikeObj.name;
                    bikeAvailable.appendChild(bikeStatusLink);
                }else{
                    bikeAvailable.innerHTML = (bikeObj.departed_at ? "Departed as " + bikeObj.name : bikeObj.name || "Available");
                }

                // Bike Hook
                var bikeHook = document.createElement("td");
                if (bikeObj.hook_number){
                    var bikeHookLink = document.createElement("a");
                    bikeHookLink.href = "/hooks/location-"+bikeObj.hook_number;
                    bikeHookLink.innerHTML = bikeObj.hook_number;
                    bikeHook.appendChild(bikeHookLink);
                }else{
                    bikeHook.innerHTML = "n/a";
                }

                // Color
                var bikeColor = document.createElement("td");
                bikeColor.innerHTML = bikeObj.color;
                
                // Brand
                var bikeBrand = document.createElement("td");
                bikeBrand.innerHTML = bikeObj.brand_name || "n/a";
                
                // Seat Tube
                var bikeSeat = document.createElement("td");
                bikeSeat.innerHTML = bikeObj.seat_tube_height;
                
                /* Top Tube
                var bikeTop = document.createElement("td");
                bikeTop.innerHTML = bikeObj.top_tube_length;
                */

                // Wheel Size
                var bikeWheel = document.createElement("td");
                bikeWheel.innerHTML = bikeObj.wheel_size || "n/a";
                
                /* Created at
                var bikeIn = document.createElement("td");
                var formattedDate = dp(bikeObj.created_at);
                
                bikeIn.innerHTML = (formattedDate.getMonth()+1) + "/" + formattedDate.getDate() + "/" + formattedDate.getFullYear();
                */
                $(newRow).append(bikeNumber).append(bikeAvailable).append(bikeHook).append(bikeColor).append(bikeBrand).append(bikeSeat)
                .append(bikeWheel);
                $("#bikeList").append(newRow);
            }
        }

        function dp(dateStr) {
            return new Date(dateStr)
        }


        attachListeners();
    });
</script>
<section class="">
<%= render :partial=>"bike_filter" %>
<%= render :partial=>"bike_table", :layout =>"bike_table_layout" %>
<%= render :partial=>"bike_listing_details" %>
</section>
