<section id = "newBikeForm" class="span12">
<div class = "row">

    <script>
    $(function () {
    $('#myTab a:first').tab('show');
    $("li a").each(function(){
                $(this).click(function(){
                        $(this).tab('show');
                });
        });
        })
    </script>
<%= render :partial => "form" %>

</div>
</section>


