<% if time_entries.length > 0 %>
<table class="table table-striped table-condensed">
  <thead>
    <th>Date</th>
    <th>Person</th>
    <th>Description of work</th>
    <th>Hours worked</th>
  </thead>
  <tbody>
  <% time_entries.each do |c| %>
  <tr>
    <td><%= c.date_start %></td>
    <td><%= c.user.email if c.user %></td>
    <td><%= c.description %></td>
    <td><%= c.hours %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>


