/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
/* header provides a common label to rest above each part of the site */
header {
     padding: .25em .25em .25em ;
     border-bottom-width:2px;
     border-bottom-style:solid;
     border-color: @grayDark;
     margin: 0 0 1em 0;
}
header h1 {
    margin-bottom: .25em;
}

#shared_menu {
    border-color: @gray;
    border-width: 1px;
    border-style: solid;
}
#shared_menu ul {
    list-style-type: none; 
    margin: .25em;
}
#shared_menu li {
    padding: .25em;

} 
#shared_menu p {
    text-align: center;


}

/* sitewide table legibility style */ 
table tr:nth-child(2n+1) {
/*    background: @grayLight;
    background-color: @grayLight;*/
    background: #f1f1f1;

}
input[type="submit"],
button[type="submit"] {
    display: block;
}

footer {
    margin-top: 3em;
}