/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree
 * removeded require_tree based on solving problem http://stackoverflow.com/questions/7462661/sprocketscirculardependencyerror-in-storeindex
 */
/* header provides a common label to rest above each part of the site */
a.editLink {
    font-size: 14px;
    font-family: Helvetica Neue, sans-serif;
}
header {

    margin: 1.5em 0 5px 0;
    h1 {
	color: #333;
	/* override these here but think about recompiling bootstrap for consistency */
	line-height: 30px;
	font-size: 25px;

    }

}
section#alerts {
    padding: .25em;
    clear: both;
    height: 50px;
    p {
	margin: .15em;
    }
}
section#user_login_status {
    position: absolute;
    top: 3%;
    right: 15%;
}
section#user_login_status.no-user {
    right: 20%;
    p {
	float: right;
	margin-right: 10px;
    }
}
.grad-blue-extra-gray {
    background: rgb(143,149,163);
    background: -moz-linear-gradient(top, rgba(143,149,163,1) 0%, rgba(81,104,137,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,149,163,1)), color-stop(100%,rgba(81,104,137,1)));
    background: -webkit-linear-gradient(top, rgba(143,149,163,1) 0%,rgba(81,104,137,1) 100%);
    background: -o-linear-gradient(top, rgba(143,149,163,1) 0%,rgba(81,104,137,1) 100%);
    background: -ms-linear-gradient(top, rgba(143,149,163,1) 0%,rgba(81,104,137,1) 100%);
    background: linear-gradient(top, rgba(143,149,163,1) 0%,rgba(81,104,137,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f95a3', endColorstr='#516889',GradientType=0 );
}
.grad-blue-gray {
    background: rgb(96,108,136);
    background: -moz-linear-gradient(top, rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1)));
    background: -webkit-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
    background: -o-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
    background: -ms-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
    background: linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
}
.grad-light-gray-2 {
    background: rgb(211,211,211);
    background: -moz-linear-gradient(top, rgba(211,211,211,1) 0%, rgba(242,242,242,1) 48%, rgba(211,211,211,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,211,211,1)), color-stop(48%,rgba(242,242,242,1)), color-stop(100%,rgba(211,211,211,1)));
    background: -webkit-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(242,242,242,1) 48%,rgba(211,211,211,1) 100%);
    background: -o-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(242,242,242,1) 48%,rgba(211,211,211,1) 100%);
    background: -ms-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(242,242,242,1) 48%,rgba(211,211,211,1) 100%);
    background: linear-gradient(top, rgba(211,211,211,1) 0%,rgba(242,242,242,1) 48%,rgba(211,211,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#d3d3d3',GradientType=0 );
}
.light-gradient {
    background: rgb(242,242,242);
    background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(211,211,211,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(211,211,211,1)));
    background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(211,211,211,1) 100%);
    background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(211,211,211,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(211,211,211,1) 100%);
    background: linear-gradient(top, rgba(242,242,242,1) 0%,rgba(211,211,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d3d3d3',GradientType=0 );
}
.dark-grey-gradient {
    background: rgb(168,168,168);
    background: -moz-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(196,196,196,1) 51%, rgba(140,140,140,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,168,168,1)), color-stop(51%,rgba(196,196,196,1)), color-stop(100%,rgba(140,140,140,1)));
    background: -webkit-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(196,196,196,1) 51%,rgba(140,140,140,1) 100%);
    background: -o-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(196,196,196,1) 51%,rgba(140,140,140,1) 100%);
    background: -ms-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(196,196,196,1) 51%,rgba(140,140,140,1) 100%);
    background: linear-gradient(top, rgba(168,168,168,1) 0%,rgba(196,196,196,1) 51%,rgba(140,140,140,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#8c8c8c',GradientType=0 );

}
#shared_menu {
    margin-left: 0;
    border-radius: 5px;
    clear: both;
    float: left;
    height: 35px;
    ul {
	list-style-type: none; 
	li.signed-in-action-1 {
	/* adding border is ugly and unhelpful */
	}
	a {
	    color: #fff;
	}
	a:hover {
	    color: #000;
	}
    }
    p {
        text-align: right;
    }
}



/* sitewide table legibility style */ 
table tr:nth-child(2n+1) {
    background: #f1f1f1;

}
input[type="submit"],
button[type="submit"] {
    display: block;
}
div.comments {
    margin-bottom: 5px;
    margin-left: 0;
    float: left;
    
    /* contains the user and date information associated with the comment */
    span {
	border-bottom-color: #333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin: 2px;
	padding: 2px;
    }

    p {
	padding: 5px;
	word-wrap: break-word;
    }

}
.noteCard {
    border: solid 1px #888;
    box-shadow: -1px 1px 1px #999;

}
footer {
    margin-top: 40px;
}
