/* INDEX PAGE */
#header{
    text-align: center;
    border-bottom: 2px solid LightGray;
}
#container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}
#container table{
    margin: 0 auto;
    width: 100%; 
}
#container thead{
    text-align: left;
    background-color: #93CDDD;
}
#container table thead th{
    padding: 7px;
}
#container table td{
    padding: 7px;
}
#container table tr:nth-child(even){
    background-color: LightGray;
}
#bikeFooter{
    background-color: #549AAD;
    height: 30px;
    bottom: 0px;
    width: 100%;
    font-size: 14px;
    position: fixed;
    text-align: center;
}
#bikeFooter a{
    text-decoration: none;
    font-weight: bold;
    color: #DBEEF4;
}
table thead th.active{
    background-color: #F5820F !important;
}
.mobileFilter{
    width: 49%;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.mobileLabel{
    width: 49%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: black;
}

/* WELCOME PAGE */
#welcomeContent{
    background: #93CDDD;
    height: 100%;
    top: 0px;
    text-align: center;
    margin-bottom: 10px;
}
.navButton{
    color: #009CB5;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 15px;
    height: 16px;
    width: 150px;
    font-family: Arial;
    font-size: 18px;
    border-radius: 1em;
    border: 1px solid gray;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.navButton a,.navButton a:hover,.navButton a:visited{
    text-decoration: none;
    color: #009CB5;
}

/* FIND PAGE */
#findContainer{
    background: #93CDDD;
    height: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}
#findInstructions{
    font-weight: bold;
    padding: 10px;
}

#findContainer form{
    text-align: left;
    background: #93CDDD;
}

#findContainer form div{
    padding: 10px;
    line-height: 2em;
    color: white;
    font-weight: bold;
}

#findContainer form input{
    width: 100%;
    height: 40px;
}
#findContainer form input[type="submit"]{
    border-radius: 1em;
    border: 1px solid gray;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    color: #009CB5;
    font-size: 14px;
}
#findContainer form select{
    width: 100%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

/* SHOW PAGE */
#showContainer{
    color: DarkBlue;
    width: 100%;
    text-align: left;
    background: #93CDDD;
    /*height: 650px;*/
    font-family: Arial;
    font-size: 16px;
}
#showContainer div{
    margin: 0 auto;
    width: 200px;
    padding: 10px;
    background: #93CDDD;
}
#showContainer label{
    font-weight: bold; 
}
#showDetails h3,#showHistory h3{
    padding: 10px;
}
#showHistory div:last-child{
    padding-top: 0px;
    margin-top: -15px;
}

/* ADD PAGE */
#addContainer{
    background: #93CDDD;
    height: 100%;
    font-family: Arial;
    font-size: 16px;
}
#addContainer form{
    background: #93CDDD;
}
#addContainer div{
    padding: 10px;
    line-height: 2em;
}
#addContainer input,#addContainer select{
    width: 100%;
    height: 40px;
}
#addContainer label{
    font-weight: bold;
}
#addErrors{
    margin-top: 0px;
    background-color: #93CDDD;
    text-align: center;
    color: red;
}
#addErrors li{
    text-decoration: none;
}
#mobileForm label{
    color: white;
}
