
table.programs th{
    border-bottom: solid 2px #a8a8a8;
    background: #fff;
    text-align: left;
}
table.programs th:first-child {

}
section.programs {
    padding-top: .75em;
}
section.programs p {
    clear: left;
    display: block;
}

#newProgram {
    margin: 1em;
}