table.project th{
    text-align: left;
    border-bottom: solid 2px #a8a8a8;
    background: #fff;
}
table.project tr td {
    padding: 5px;
    margin: 5px;
}
div#projectInfo {
    p {
	margin: 1em auto;
	width: 75%;
    }
    dl {
	float: left;
    }
}
section.show-project {
    padding-top: .75em;
}

#project-steps-wrapper {
    margin-top: 1em;
}

#cancel-project-wrapper input[type="submit"] {
    float: right;
}
/* kill the annoying spacer margin */
div[class*="noLeftMarg"], 
section[class*="noLeftMarg"] {
    margin-left: 0;
}